<h2 class="accordion-header" id="balances-heading{{id}}">
<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#balances-collapse{{id}}" aria-expanded="false" aria-controls="balances-collapse{{id}}">
    {{ totals[balance[0]] | round: 8 }} {{ balance[0] }}
</button>
</h2>
<div id="balances-collapse{{id}}" class="accordion-collapse collapse" aria-labelledby="balances-heading{{id}}" data-bs-parent="#accordionBalances">
  <div class="accordion-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><small>Amount</small></th>
          <th scope="col"><small>Address</small></th>
        </tr>
      </thead>
      <tbody>
      {% for coin in balance[1] %}
        <tr>
            <td>{{ coin[1] | round: 8 }}</td>
            <td>{{ coin[0] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>