{% layout 'layout' %}
{% assign addresses = vars.addresses %}

<div class="card container-sm mb-2">
  <div class="card-body">  
  {% if reverse_convert %}
  {% assign estimate_via = " " %}
  {% assign estimate_reverse = 0 %}
  {% for i in reverse_convert.estimate_reverse %}
  {% if not reverse_convert.via or i[0] == reverse_convert.via and i[1] > estimate_reverse %}
  {% assign estimate_via = i[0] %}
  {% assign estimate_reverse = i[1] %}
  {% endif %}
  {% endfor %}
  {% assign gainloss = estimate_reverse | minus: reverse_convert.amount | divided_by: reverse_convert.amount | times: 100 | round: 2 %}
  <h5 class="card-title">Reverse Conversion</h5>
  <p> </p>
  <div class="alert alert-info">
    <span class="p-0">{{ reverse_convert.uid | truncate: 9}}{{ reverse_convert.uid | slice: -6, 6 }}</span>
    <span class="badge text-bg-secondary rounded-pill p-2 px-3 ms-2">{{ reverse_convert.amount | round: 6 }} {{reverse_convert.currency}}</span>
    <span class="badge text-bg-primary rounded-pill p-2 px-3 ms-2">{{ reverse_convert.received | round: 6 }} {{reverse_convert.convertto}}</span>
    <span class="badge text-bg-{% if gainloss > 0 %}success{%else%}danger{%endif%} p-2 px-3 ms-2">
      {% if gainloss > 0 %}+{%endif%}{{ estimate_reverse| minus: reverse_convert.amount | divided_by: reverse_convert.amount | times: 100 | round: 2 }}%
      {% if gainloss > 0 %}+{%endif%}{{ estimate_reverse | minus: reverse_convert.amount | round : 6 }} {{reverse_convert.currency}}
    </span>
  </div>
  {% else %}
  <h5 class="card-title">Convert Currency</h5>
  <p> </p>
  {% endif %}
    
  <form id="sendForm" action="/send" method="post" enctype="multipart/form-data">    
    <div class="row mb-2">
      <div class="input-group">
        <span class="input-group-text justify-content-end" id="basic-addon1" style="min-width:6rem;">From</span>
        <input name="fromAddress" id="fromAddress" type="text" class="form-control" list="addresses", placeholder="*" value="{% if reverse_convert %}{{ reverse_convert.destination }}{% endif %}">
        <datalist id="addresses">
          {% for address in addresses.identities %}
            <option value="{{address}}">
          {% endfor %}
          {% for address in addresses.public %}
            <option value="{{address}}">
          {% endfor %}
          {% for address in addresses.private %}
            <option value="{{address}}">
          {% endfor %}
        </datalist>
      </div>
    </div>
    
    <div id="toUsers">
    
      <div id="touser0">
        <div class="row mb-2">
          <div class="input-group">
            <span class="input-group-text justify-content-end" style="min-width:6rem;">To</span>
            <input name="toAddress0" id="toAddress0" type="text" class="form-control" value="{% if reverse_convert %}{{ reverse_convert.destination }}{% endif %}">
            <button id="addtouser" type="button" class="input-group-text btn btn-secondary">
              <i class="fa-solid fa-user-plus"></i>
            </button>
          </div>
        </div>
        
        <div class="row mb-2">
          <div class="input-group me-2">
            <span class="input-group-text justify-content-end" id="basic-addon1" style="min-width:6rem;">Amount</span>
            <input name="amount0" id="amount0" type="number" class="form-control" aria-describedby="basic-addon1" step="0.00000001" min="0" value="{% if reverse_convert %}{{ reverse_convert.received }}{% endif %}">
            <span class="ms-2">
            <select name="currency0" id="currency0" class="form-select" aria-label="SelectCurrency">
              {% if reverse_convert %}
              <option value="{{ reverse_convert.convertto }}" selected>{{ reverse_convert.convertto }}</option>
              {% else %}
              <option value="{{vars.coin}}" selected>{{vars.coin}}</option>
              {% for coin in vars.coins %}
              {% if coin != vars.coin %}
              <option value="{{coin}}">{{coin}}</option>
              {% endif %}
              {% endfor %}
              {% endif %}
            </select>
            </span>
            <span class="ms-2">
            <button id="sendmax" type="button" class="input-group-text btn btn-secondary" disabled>
              Max
            </button>
            </span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="input-group me-2">
            <span class="input-group-text justify-content-end" id="basic-addon1" style="min-width:7rem;">Convert To</span>
            <select name="convertto0" id="convertto0" class="form-select" aria-label="SelectConvertTo">
              {% if reverse_convert %}
              <option value="{{ reverse_convert.currency }}" selected>{{ reverse_convert.currency }}</option>
              {% else %}
              <option value=""> </option>
              {% for c in vars.currencies %}
              <option value="{{c[0]}}">{{c[0]}}</option>
              {% endfor %}
              {% endif %}
            </select>
            <span class="input-group-text justify-content-end" id="basic-addon1" style="min-width:7rem;">Convert Via</span>
            <select name="via0" id="via0" class="form-select" aria-label="SelectCurrency">
              {% if reverse_convert %}
              <option value="{{ estimate_via }}">{{ estimate_via }}</option>
              {% endif %}
              <option value=""> </option>
              {% for c in vars.currencies %}
              {% if c[1].isFractional and c[1].currencies.length > 1 and c[1].startblock < vars.info.blocks and c[0] != estimate_via %}
              <option value="{{c[0]}}">{{c[0]}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      
      <div id="additionalToUsers" class="alert alert-secondary mb-2 pb-1 d-none">
        <div class="pb-3">
          <span>Multi Convert Currency</span>
          <button type="button" class="btn btn-secondary btn-sm float-end" onclick="delToUserInput()">
            <i class="fa-solid fa-user-minus"></i>
          </button>
        </div>
      </div>
        
    </div>
    
    <div class="row">
      <div class="input-group justify-content-end no-wrap">
        <button id="verifyFirstButton" type="button" class="btn btn-primary">
          Estimate &amp; Send
        </button>
      </div>
    </div>
    
    <div id="sendConfirm" class="modal fade" id="staticConfirmBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticConfirmBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticConfirmBackdropLabel">Conversion Estimate</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div id="sendConfirmBody" class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success">Confirm</button>
          </div>
        </div>
      </div>
    </div>

  <input type="hidden" name="verified" id="verified" value="false">
  </form>

  </div>
</div>

{% include 'balances' %}

<script type="text/javascript">
var total_tousers = 1;
var balances = {{ balances | json }};

function showConfirmError(rsp) {
  if (typeof rsp == "string") {
    $('#sendConfirmBody').html(rsp);
  } else if (typeof rsp == "object") {
    $('#sendConfirmBody').html("<pre class='alert alert-danger'>"+JSON.stringify(rsp, null, 2)+"<pre>");
  } else {
    $('#sendConfirmBody').html("error <pre>"+rsp+"<pre>");
  }
  $('#sendConfirm').modal('show');
}

function showConfirmModel(rsp) {
  let rpcString = rsp.method + " ";
  for(let i in rsp.params) {
    rpcString = rpcString + JSON.stringify(rsp.params[i], null, 2) + " ";
  }

  let usersHtml = "Send";
  let totalAmount = {};
  if (rsp.estimates && rsp.estimates.length > 0) {
    usersHtml = "Estimate";
  }
  for (let i=0; i<total_tousers; i++) {
    let toaddr =  $('#toAddress'+i).val();
    let amount = $('#amount'+i).val();
    let currency = $('#currency'+i).val();
    if (totalAmount[currency]) {
      totalAmount[currency] += Number(amount);
    } else {
      totalAmount[currency] = Number(amount);
    }
    if (rsp.estimates && rsp.estimates[i]) {
      toaddr = "~" + rsp.estimates[i] + " " + $('#convertto'+i).val();
    }
    usersHtml += '<div class="row m-0 p-1 pb-2"><code class="text-lg">' + amount + ' ' + currency + ' to '+ toaddr + '</code></div>';
  }
  let html = usersHtml;
  if (rsp.fees) {
    html += '<div class="row m-0 p-1 pt-0">Fees';
    for (let c in rsp.fees) {
      if (totalAmount[c]) {
        totalAmount[c] += rsp.fees[c];
      } else {
        totalAmount[c] = rsp.fees[c];
      }
      html += '<span><code class="text-lg">' + rsp.fees[c].toFixed(8) + ' ' + c + '</code></span>';
    }
    html += "</div>";
  }
  if (Object.keys(totalAmount).length > 0) {
    html += '<div class="row m-0 p-1 pt-0">Total';
    for (let t in totalAmount) {
      html += '<span><code class="text-lg">' + totalAmount[t].toFixed(8) + ' ' + t + '</code></span>';
    }
    html += "</div>";
  }
  html += '<div class="row m-0 p-1">rpc<pre class="pb-3">'+rpcString+'</pre></div>';
  $('#sendConfirmBody').html(html);
  $('#sendConfirm').modal('show');
}

function checkIsInvalid(rsp) {
  let r = false;
  // clear invalid params
  $('#fromAddress').removeClass("is-invalid");
  for(let i=0; i<total_tousers; i++) {
    $('#toAddress'+i).removeClass("is-invalid");
    $('#amount'+i).removeClass("is-invalid");
    $('#currency'+i).removeClass("is-invalid");
    $('#convertto'+i).removeClass("is-invalid");
    $('#via'+i).removeClass("is-invalid");
  }
  
  // check for invalid params
  if (rsp.invalid) {
    for (let i in rsp.invalid) {
      $('#'+rsp.invalid[i]).addClass("is-invalid");
      r = true;
    }
  }
  return r;
}

function submitSendToForm() {
  let request=$.ajax({
    url: "/send",
    type: "POST",
    data: $('#sendForm').serialize(),
    dataType: "text",
    success: function (data) {
      let rsp = JSON.parse(data);
      if (!rsp.error) {
        if (!checkIsInvalid(rsp)) {
          if (rsp.verify) {
            $('#verified').val("true");
            // verify and resubmit
            showConfirmModel(rsp);
          } else if (rsp.opid) {
            // success
            location.reload()
          } else {
            // error
            console.log("rsp.error", rsp);
            showConfirmError(rsp);
          }
        }
      } else {
        showConfirmError(rsp.error);
      }
    },
    error: function (err) {
      if (err.responseText) {
        let e;
        try { e = JSON.parse(err.responseText); }catch { e = undefined; }
        if (e) {
          if (!checkIsInvalid(e)) {
            showConfirmError(e);
          }
        } else {
          showConfirmError(err.responseText);
        }
      } else {
        alert("Fatal Error");
      }
    }
  });
}

function checkSendMaxButton() {
  let currency = $('#currency0').val();
  if (balances.balances[currency][$('#fromAddress').val()]) {
      $('#sendmax').prop("disabled", "");
  } else {
      $('#sendmax').prop("disabled", "true");
  }
}

function onSendMaxClick() {
  let currency = $('#currency0').val();
  if (balances.balances[currency][$('#fromAddress').val()]) {
    if ($('#amount0').val() != balances.balances[currency][$('#fromAddress').val()]) {
      $('#amount0').val(balances.balances[currency][$('#fromAddress').val()]);
      return;
    }
  } else {
    $('#sendmax').prop("disabled", "true");
  }
  $('#amount0').val("");
}

function addToUserInput() {
  if (total_tousers < 20) {
    let i = total_tousers;
    let html = `
      <div id="touser`+i+`" class="touser">
        <div class="row mb-2">
          <div class="input-group">
            <span class="input-group-text justify-content-end" style="min-width:6rem;">To</span>
            <input name="toAddress`+i+`" id="toAddress`+i+`" type="text" class="form-control">
          </div>
        </div>
        <div class="row mb-2">
          <div class="input-group me-2">
            <span class="input-group-text justify-content-end" id="basic-addon1" style="min-width:6rem;">Amount</span>
            <input name="amount`+i+`" id="amount`+i+`" type="number" class="form-control" aria-describedby="basic-addon1" step="0.00000001" min="0">
            <span class="ms-2">
            <select name="currency`+i+`" id="currency`+i+`" class="form-select" aria-label="SelectCurrency">
              <option value="{{vars.coin}}" selected>{{vars.coin}}</option>
              {% for coin in vars.coins %}
              {% if coin != vars.coin %}
              <option value="{{coin}}">{{coin}}</option>
              {% endif %}
              {% endfor %}
            </select>
            </span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="input-group me-2">
            <span class="input-group-text justify-content-end" id="basic-addon1" style="min-width:7rem;">Convert To</span>
            <select name="convertto`+i+`" id="convertto`+i+`" class="form-select" aria-label="SelectConvertTo">
              <option value=""> </option>
              {% for c in vars.currencies %}
              <option value="{{c[0]}}">{{c[0]}}</option>
              {% endfor %}
            </select>
            <span class="input-group-text justify-content-end" id="basic-addon1" style="min-width:7rem;">Convert Via</span>
            <select name="via`+i+`" id="via`+i+`" class="form-select" aria-label="SelectCurrency">
              <option value=""> </option>
              {% for c in vars.currencies %}
              {% if c[1].isFractional and c[1].currencies.length > 1 and c[1].startblock < vars.info.blocks %}
              <option value="{{c[0]}}">{{c[0]}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    `;
    $('#additionalToUsers').removeClass("d-none");
    $('#additionalToUsers').append(html);
    total_tousers++;
  }
}

function delToUserInput() {
  if (total_tousers > 0) {
    $(".touser").last().remove();
    total_tousers--;
  }
  if (total_tousers <= 1) {
    total_tousers = 1;
    $('#additionalToUsers').addClass("d-none");
  }
}

$(document).ready(function() {

  $('#fromAddress').on('input', checkSendMaxButton);
  $('#currency0').on('change', checkSendMaxButton);
  
  $('#sendmax').on('click', onSendMaxClick);

  $('#addtouser').on('click', addToUserInput);
  
  $("#verifyFirstButton").on('click', function(event) {	
    event.preventDefault();
    // make sure we always verify first
    $('#verified').val("false");
    submitSendToForm();
  });
  $("#sendForm").submit(function(event) {	
    event.preventDefault();
    submitSendToForm();
  });

});
</script>


{% if reverse_convert %}
{% else %}

{% if vars.opid_count > 0 %}
<script type="text/javascript">
$(document).ready(function() {
  let url = $(location).attr('href');
  if (url.indexOf("#txidMonitor") < 0) {
    $("#offcanvasOperations").offcanvas("show");
  }
});
</script>
{% elsif vars.conversions.length > 0 %}
<script type="text/javascript">
$(document).ready(function() {
  let url = $(location).attr('href');
  if (url.indexOf("#opidMonitor") < 0 && url.indexOf("#txidMonitor") < 0) {
    $("#offcanvasConversions").offcanvas("show");
  }
});
</script>
{% elsif vars.opid_count == 0 and vars.txid_count > 0 %}
<script type="text/javascript">
$(document).ready(function() {
  let url = $(location).attr('href');
  if (url.indexOf("#opidMonitor") < 0) {
    $("#offcanvasTransactions").offcanvas("show");
  }
});
</script>
{% endif %}

{% endif %}